$container-width: 70%;
$main-grad: linear-gradient(144.64deg, #22E871 15.38%, #658324 79.28%, #A56B26 100%);

@mixin main-container {
  width: 75%;
  margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&family=Roboto:wght@900&family=Squada+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
}

p {
  color: rgba(0, 0, 0, 0.7);
}

header, footer {
  .logo {
    display: flex;

    svg {
      border-radius: 50% 0;
    }
    .title {
      margin-left: 8px;
      text-transform: uppercase;
      font-size: 18px;
      font-family: "Squada One";
      font-weight: 400;
      color: black;
      text-decoration: none;
    }
  }

  .page {
    margin: 0 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: black;
  }
}

header {
  .container {
    @include main-container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 57px;
  }
}

main {
  flex: 1 1 auto;
  @include main-container;

  section {
    margin: 150px 0;

    h2.title {
      font-weight: 800;
      font-size: 24px;
    }

    .content {
      display: flex;
      column-gap: 15px;
      margin-top: 40px;

      .card {
        box-shadow: 0 20px 100px rgba(0, 0, 0, 0.2);
        border-radius: 16px;
      }
    }
  }

  .contact {
    display: flex;
    flex-direction: column;

    width: 50%;

    h1 {
      text-transform: uppercase;
      font-size: 48px;
      line-height: 58px;
    }

    p {
      margin: 5px 0 20px;
    }

    .contact-btn {
      width: fit-content;
      padding: 0.5rem 2rem;

      text-transform: uppercase;
      text-decoration: none;

      color: white;
      background-color: #E05124;
      box-shadow: 0 8px 30px rgba(224, 81, 36, 0.4);
    }
  }

  .what {
    padding: 38px 24px;
    box-shadow: 0 16px 100px 0 rgba(0, 0, 0, 0.2);
    position: relative;

    .text {
      width: calc(100% - 266px);

      h2 {
        font-size: 32px;
        font-weight: 800;
        margin-bottom: 10px;
      }

      p {
        margin-top: 5px;
      }
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .subscriptions {
    .card {
      .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 32px;
        row-gap: 32px;

        h2 {
          text-transform: uppercase;
          font-weight: 800;
          font-size: 32px;
        }

        p {
          font-size: 14px;
        }
      }

      .price {
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: rgba(0, 0, 0, 0.05);

        font-size: 40px;
        font-weight: 700;
        color: #E05124;

        position: relative;

        .num {
          position: relative;

          &:before {
            content: '$';
            position: absolute;
            bottom: 50%;
            right: 100%;

            font-size: 22px;
          }
        }
      }

      ul {
        list-style: none;

        li {
          padding: 13px 32px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          font-size: 14px;

          .icon {
            width: 22px;
            height: 22px;
            border-radius: 50%;
            position: relative;
          }
        }

        li:nth-child(2n) {
          background-color: rgba(0, 0, 0, 0.05);
        }

        li.yes {
          color: #32870A;

          .icon {
            background-color: #33C626;
            -webkit-mask-image: url("../data/icons/check-mark.svg");
            mask-image: url("../data/icons/check-mark.svg")
          }
        }

        li.no {
          color: #E05124;

          .icon {
            background-color: #E05124;
            -webkit-mask-image: url("../data/icons/x-mark.svg");
            mask-image: url("../data/icons/x-mark.svg")
          }
        }
      }
    }

    .card.special {
      background: $main-grad;
      color: white;

      p {
        color: white;
      }

      .price {
        background-color: rgba(255, 255, 255, 0.2);
      }

      ul {
        li {
          color: white;
          .icon {
            background-color: white;
          }
        }

        li:nth-child(2n) {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }

  .diet {
    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 30px;

      .card {
        position: relative;
        padding: 36px 32px;
        background: $main-grad;
        color: white;

        .text {
          h2 {
            text-transform: uppercase;
            font-size: 22px;
            font-weight: 800;
          }

          ul {
            margin-top: 10px;
            list-style: none;

            li {
              margin-bottom: 5px;
              font-size: 14px;
            }

            li:last-child {
              margin-bottom: 0;
            }
          }
        }

        img {
          position: absolute;
          right: 0;
          bottom: 0;
          transform: translateX(27%);

          height: 115%;
        }
      }
    }
  }

  .users {
    box-shadow: 0 16px 100px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-family: "Open Sans";
    border-radius: 5px;

    h2 {
      font-size: 20px;
    }

    .table {
      display: flex;
      margin-top: 40px;

      border: 1px solid rgba(0, 0, 0, 0.5);
      width: 100%;
      min-height: 535px;

      font-size: 12px;
      line-height: 16px;

      .column {
        flex: 1 1 auto;

        .head, .cell {
          height: 55px;
          display: flex;
          padding: 10px 20px;
          box-sizing: border-box;

          border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        }

        .head {
          align-items: flex-end;
          color: rgba(0, 0, 0, 0.5);
        }

        .cell {
          align-items: center;
          font-size: 10px;
          line-height: 14px;

          .text {
            display: flex;
            flex-direction: column;

            .addition {
              color: rgba(0, 0, 0, 0.5);
            }
          }

          .status.active {
              color: #3CC13B;
          }
        }

        .user {
          img {
            margin-right: 20px;
          }
        }
      }
    }
  }
}

footer {
  background: $main-grad;

  .container {
    @include main-container;
    height: 99px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;

    .left {
      display: flex;

      .title {
        color: white;
      }

      .copyright {
        margin-left: 40px;
      }
      .author {
        margin-left: 40px;
      }
    }
  }

  .page {
    color: white;
  }
}