/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&family=Roboto:wght@900&family=Squada+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Montserrat;
}

p {
  color: rgba(0, 0, 0, 0.7);
}

header .logo, footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .logo svg, footer .logo svg {
  border-radius: 50% 0;
}
header .logo .title, footer .logo .title {
  margin-left: 8px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Squada One";
  font-weight: 400;
  color: black;
  text-decoration: none;
}
header .page, footer .page {
  margin: 0 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

header .container {
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 57px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 75%;
  margin: 0 auto;
}
main section {
  margin: 150px 0;
}
main section h2.title {
  font-weight: 800;
  font-size: 24px;
}
main section .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  margin-top: 40px;
}
main section .content .card {
  -webkit-box-shadow: 0 20px 100px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 100px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}
main .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
}
main .contact h1 {
  text-transform: uppercase;
  font-size: 48px;
  line-height: 58px;
}
main .contact p {
  margin: 5px 0 20px;
}
main .contact .contact-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #E05124;
  -webkit-box-shadow: 0 8px 30px rgba(224, 81, 36, 0.4);
          box-shadow: 0 8px 30px rgba(224, 81, 36, 0.4);
}
main .what {
  padding: 38px 24px;
  -webkit-box-shadow: 0 16px 100px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 100px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}
main .what .text {
  width: calc(100% - 250px)
}
main .what .text h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 10px;
}
main .what .text p {
  margin-top: 5px;
}
main .what .text .one{
  margin-top: 20px;
}
main .what img {
  width: 339px;
  height: 430px;
  position: absolute;
  top: 0;
  right: 0;
}
main .subscriptions .card .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 32px;
  row-gap: 32px;
}
main .subscriptions .card .title h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 32px;
}
main .subscriptions .card .title p {
  font-size: 14px;
}
main .subscriptions .card .price {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 40px;
  font-weight: 700;
  color: #E05124;
  position: relative;
}
main .subscriptions .card .price .num {
  position: relative;
}
main .subscriptions .card .price .num:before {
  content: "$";
  position: absolute;
  bottom: 50%;
  right: 100%;
  font-size: 22px;
}
main .subscriptions .card ul {
  list-style: none;
}
main .subscriptions .card ul li {
  padding: 13px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}
main .subscriptions .card ul li .icon {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: relative;
}
main .subscriptions .card ul li:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.05);
}
main .subscriptions .card ul li.yes {
  color: #32870A;
}
main .subscriptions .card ul li.yes .icon {
  background-color: #33C626;
  -webkit-mask-image: url("../data/icons/check-mark.svg");
  mask-image: url("../data/icons/check-mark.svg");
}
main .subscriptions .card ul li.no {
  color: #E05124;
}
main .subscriptions .card ul li.no .icon {
  background-color: #E05124;
  -webkit-mask-image: url("../data/icons/x-mark.svg");
  mask-image: url("../data/icons/x-mark.svg");
}
main .subscriptions .card.special {
  background: -o-linear-gradient(305.36deg, #22E871 15.38%, #658324 79.28%, #A56B26 100%);
  background: linear-gradient(144.64deg, #22E871 15.38%, #658324 79.28%, #A56B26 100%);
  color: white;
}
main .subscriptions .card.special p {
  color: white;
}
main .subscriptions .card.special .price {
  background-color: rgba(255, 255, 255, 0.2);
}
main .subscriptions .card.special ul li {
  color: white;
}
main .subscriptions .card.special ul li .icon {
  background-color: white;
}
main .subscriptions .card.special ul li:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.2);
}
main .diet .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
}
main .diet .content .card {
  position: relative;
  padding: 36px 32px;
  background: -o-linear-gradient(305.36deg, #22E871 15.38%, #658324 79.28%, #A56B26 100%);
  background: linear-gradient(144.64deg, #22E871 15.38%, #658324 79.28%, #A56B26 100%);
  color: white;
}
main .diet .content .card .text h2 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 800;
}
main .diet .content .card .text ul {
  margin-top: 10px;
  list-style: none;
}
main .diet .content .card .text ul li {
  margin-bottom: 5px;
  font-size: 14px;
}
main .diet .content .card .text ul li:last-child {
  margin-bottom: 0;
}
main .diet .content .card img {
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(27%);
      -ms-transform: translateX(27%);
          transform: translateX(27%);
  height: 115%;
}
main .users {
  -webkit-box-shadow: 0 16px 100px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 100px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  font-family: "Open Sans";
  border-radius: 5px;
}
main .users h2 {
  font-size: 20px;
}
main .users .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 535px;
  font-size: 12px;
  line-height: 16px;
}
main .users .table .column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
main .users .table .column .head, main .users .table .column .cell {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
main .users .table .column .head {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: rgba(0, 0, 0, 0.5);
}
main .users .table .column .cell {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  line-height: 14px;
}
main .users .table .column .cell .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .users .table .column .cell .text .addition {
  color: rgba(0, 0, 0, 0.5);
}
main .users .table .column .cell .status.active {
  color: #3CC13B;
}
main .users .table .column .user img {
  margin-right: 20px;
}
.B {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: rgb(177, 235, 255);
  color: var(--primary-light, #0683F9);
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border-radius: 50%;
  margin-right: 20px;
}
.R {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
   -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
   background-color: #dcd4fb;
   color: var(--primary-light, #886BFF);
   text-align: center;
   font-family: Open Sans;
   font-size: 16px;
   font-style: normal;
   font-weight: 600; 
   line-height: 24px;
   border-radius: 50%;
   margin-right: 20px;
  }
  
footer {
  background: -o-linear-gradient(305.36deg, #22E871 15.38%, #658324 79.28%, #A56B26 100%);
  background: linear-gradient(144.64deg, #22E871 15.38%, #658324 79.28%, #A56B26 100%);
}
footer .container {
  width: 75%;
  margin: 0 auto;
  height: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
footer .container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .container .left .title {
  color: white;
}
footer .container .left .copyright {
  margin-left: 40px;
}
footer .container .left .author {
  margin-left: 40px;
}
footer .page {
  color: white;
}